<ion-header>

    <ion-navbar>
        <ion-title (click)="onClickTitle()">Đăng nhập</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <form [formGroup]="form">
        <ion-item>
            <ion-label stacked>Email</ion-label>
            <ion-input formControlName="username" class="form-control"></ion-input>
        </ion-item>
        <div *ngIf="username.touched && username.invalid" class="errors">
            <div *ngIf="username.errors.required">Email is required.</div>
        </div>
        <ion-item>
            <ion-label stacked>Password</ion-label>
            <ion-input formControlName="password" type="password" class="form-control"></ion-input>
        </ion-item>
        <div *ngIf="password.touched && password.invalid" class="errors">
            <div *ngIf="password.errors.required">Password is required.</div>
            <div *ngIf="password.errors.minlength">Password should be minimum {{password.errors.minlength.requiredLength}} characters.</div>
        </div>
    </form>
    <button ion-button full color="dark" type="submit" [disabled]="!form.valid" (click)="onClickLogin()">LOGIN</button>

</ion-content>